<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="mapper/student.xml" />
        <mapper resource="mapper/game.xml" />
        <mapper resource="mapper/adept.xml" />
        <mapper resource="mapper/play.xml" />
        <mapper resource="mapper/participant.xml" />
<!--        <mapper resource="mapper/show.xml" />-->
        <mapper resource="mapper/question.xml" />
        <mapper resource="mapper/manager.xml" />
    </mappers>
</configuration>